<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-info">
						<h4 class="card-title ">Simple Table</h4>
						<p class="card-category"> Here is a subtitle for this table</p>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead class=" text-success">
									<th>
										ID
									</th>
									<th>
										Nombre
									</th>
									<th>
										Correo
									</th>
									<th>
										contraseña
									</th>
									<th>
										Empresa
									</th>
									<th>
										Cargo
									</th>
									<th>
										Profesion
									</th>
								</thead>
								<tbody>
									<tr>
										<td>
											ID
										</td>
										<td>
											Nombre
										</td>
										<td>
											Correo
										</td>
										<td>
											contraseña
										</td>
										<td>
											Empresa
										</td>
										<td>
											Cargo
										</td>
										<td>
											Profesion
										</td>
									</tr>
									<tr>
										<td>
											ID
										</td>
										<td>
											Nombre
										</td>
										<td>
											Correo
										</td>
										<td>
											contraseña
										</td>
										<td>
											Empresa
										</td>
										<td>
											Cargo
										</td>
										<td>
											Profesion
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>